@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --orange: #ff7800;
    --black: #130f40;
    --green: #008000;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: .2rem solid var(--black);
}

* {

    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}



body {
    background: #eee;

}




section {
    padding: 2rem 9%;

}

section:nth-child(even) {
    background: #eee;
}

.sub-heading {
    text-align: center;
    color: var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading {
    text-align: center;
    color: var(--black);
    font-size: 3rem;
    padding-top: 2rem;
    text-transform: uppercase;
}



.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;

    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    cursor: pointer;
    background: none;
}

.btn:hover {
    background: var(--orange);
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);

}

.header .logo {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    /* width: 50px;
    height: 50px; */
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.7rem;
    margin: 0 1rem;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icon div {
    height: 4.3rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: #eee;
    color: var(--black);
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;

}

.header .icon div:hover {
    background: var(--orange);
    color: #fff;
}

#menu-btn {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 50rem;
    height: 5rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    box-shadow: var(--box-shadow);
    align-items: center;
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}


.header .search-form input {

    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}

.header .search-form label {
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: var(--black);
    cursor: pointer;
}

.header .search-form label:hover {
    color: var(--orange);
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    padding: 1rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 35rem;
    background: #fff;

}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: relative;
    margin: 1rem 0;

}

.header .shopping-cart .box img {
    height: 10rem;
}

.header .shopping-cart .box .fa-trash {
    font-size: 2rem;
    top: 50%;
    position: absolute;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translateY(-50%);
}

.header .shopping-cart .box .fa-trash:hover {
    color: var(--orange);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.7rem;
    padding-bottom: 1rem;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.6rem;

}

.header .shopping-cart .box .quantity {
    padding-left: 1rem;

}

.header .shopping-cart .total {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);

}

.header .shopping-cart .btn {
    font-size: 2.5rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--black);

}

.header .shopping-cart .btn {
    display: block;
    text-align: center;
    margin: 1rem;

}

.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
    border-radius: 2rem;
    background: #fff;
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}


.header .login-form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: var(--black);

}

.header .login-form .box {
    width: 100%;
    margin: .7rem 0;
    background: #eee;
    border-radius: .8rem;
    padding: 1rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a {
    color: var(--orange);
    text-decoration: underline;
}



.home .home-slider .slide {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2rem;
    padding-top: 7rem;
}

.home .home-slider .slide .content {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image {
    flex: 1 1 45rem;
}

.home .home-slider .slide .image img {
    width: 100%;
}

.home .home-slider .slide .content span {
    color: var(--green);
    font-size: 2.5rem;

}

.home .home-slider .slide .content h3 {
    color: var(--black);
    font-size: 7rem;

}

.home .home-slider .slide .content p {
    color: var(--light-color);
    font-size: 1.5rem;

}




.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}






/* 
media queries */

@media(max-width:991px) {
    html {
        font-size: 55%;

    }

    .header {
        padding: 2rem;
    }

    .section {
        padding: 2rem;
    }

}


@media(max-width:768px) {
    #menu-btn {
        display: inline-block;
    }

    header .search-form {
        width: 90%;
    }


    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 25rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);

        background: #fff;

    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;

    }

}

@media(max-width:450px) {
    html {
        font-size: 50%;

    }

}













.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.categories .box-container .box .fa-heart,
.categories .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.categories .box-container .box .fa-heart:hover,
.categories .box-container .box .fa-eye:hover {
    background: var(--green);
    color: #fff;
}

.categories .box-container .box .fa-heart {
    right: 1.5rem;
}

.categories .box-container .box .fa-eye {
    left: 1.5rem;
}

.categories .box-container .box img {
    height: 180px;
    margin: 5rem 0;

}

.categories .box-container .box .stars {
    padding: 1rem 0;
}

.categories .box-container .box .stars i {
    font-size: 1.7rem;
    color: var(--green);
}






.about .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row .image {
    flex: 1 1 45rem;
}

.about .row .image img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 45rem;
}


.about .row .content h3 {
    color: var(--black);
    font-size: 4rem;
    padding: 5rem 0;
}

.about .row .content p {
    color: var(--light-color);
    font-size: 1.5rem;
    line-height: 2;
}

.about .row .content .icons-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons {
    background: #eee;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, .2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 1.5rem;
    flex: 1 1 1rem;
    padding: 1.5rem 1rem;
}

.about .row .content .icons-container .icons i {
    font-size: 2.5rem;
    color: var(--green);
}

.about .row .content .icons-container .icons span {
    font-size: 1.5rem;
    color: var(--black);
}







.products .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap: 1.5rem;
}

.products .box-container .box {
    padding: 2.5rem;
    background: #fff;
    border-radius: .5rem;
    border: .1rem rgba(0, 0, 0, .2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.products .box-container .box .fa-heart,
.products .box-container .box .fa-eye {
    position: absolute;
    top: 1.5rem;
    background: #eee;
    border-radius: 5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--black);
}

.products .box-container .box .fa-heart:hover,
.products .box-container .box .fa-eye:hover {
    background: var(--green);
    color: #fff;
}

.products .box-container .box .fa-heart {
    right: 1.5rem;
}

.products .box-container .box .fa-eye {
    left: 1.5rem;
}

.products .box-container .box img {
    height: 180px;
    margin: 5rem 0;

}

.products .box-container .box .stars {
    padding: 1rem 0;
}

.products .box-container .box .stars i {
    font-size: 1.7rem;
    color: var(--green);
}












@media(max-width:991px) {
    html {
        font-size: 55%;

    }

    .products .box-container .box img {
        height: auto;
        width: 100%;

    }

}


.review .slide {
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: .1rem solid rgba(0, 0, 0, .2);
    border-radius: .5rem;
    position: relative;


}

.review .slide .fa-quote-right {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 6rem;
    color: #ccc;
}

.review .slide .user {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;

}

.review .slide .user img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3 {
    color: var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i {
    font-size: 1.4rem;
    color: var(--green);
}

.review .slide .user p {
    font-size: 1.5rem;

}









footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: auto;
    background-color: #2d2e33;
    padding: 60px 10%;
}

ul {
    list-style: none;
}

.footer-col {
    width: 25%;
}

.footer-col h4 {
    position: relative;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 22px;
    color: #f1bc0d;
    text-transform: capitalize;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    background-color: #27c0ac;
    height: 2px;
    width: 40px;
}

ul li:not(:last-child) {
    margin-bottom: 8px;
}

ul li a {
    display: block;
    font-size: 19px;
    text-transform: capitalize;
    color: #bdb6b6;
    text-decoration: none;
    transition: 0.4s;
}

ul li a:hover {
    color: white;
    padding-left: 2px;
}

.links a {
    display: inline-block;
    height: 44px;
    width: 44px;
    color: white;
    background-color: rgba(40, 130, 214, 0.8);
    margin: 0 8px 8px 0;
    text-align: center;
    line-height: 44px;
    border-radius: 50%;
    transition: 0.4s;
}

.links a:hover {
    color: #4d4f55;
    background-color: white;
}

@media(max-width: 740px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
        text-align: center;
    }

    .footer-col h4::before {
        all: unset;
    }
}

@media(max-width: 555px) {
    .footer-col {
        width: 100%;
    }
}


.order form {
    max-width: 90rem;

    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: 1rem solid rgba(0, 0, 0, .2);
    background: #fff;
    padding: 1.5rem;
    margin: 0 auto;
}




.order form .inputBox {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.order form .inputBox .input {
    width: 39%;
    margin-bottom: 10px;
    margin: 1rem;
}

.order form .inputBox .input span {
    display: block;

    padding: 1.5rem 0;
    font-size: 2rem;
    color: var(--black);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea {
    bottom: #eee;
    border-radius: .5rem;
    padding: 1rem;
    font-size: 1.6rem;
    margin-bottom: 10px;
    background-color: #dee2de;
    color: var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width: 100%;
}

.order .order .form .inputBox .input input:focus,
.order .order .form .inputBox .input textarea:focus {
    border: 1rem solid var(--green);
}

.order .order form .inputBox .input textarea {
    height: 20rem;
    resize: none;
}

.order form .orders {
    margin-top: 100px;
    margin-left: 230px;

    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.7rem;

    border-radius: .5rem;
    border: .2rem solid var(--black);
    color: var(--black);
    align-items: center;
    cursor: pointer;
    background: none;
}

.order form .orders:hover {
    background: var(--orange);
    color: #fff;
}








/* .loader-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img {
    width: 35rem;

}

.loader-container.fade-out {

    top: 110%;
    opacity: 0;

}
 */










@media(max-width:440px) {
    html {
        font-size: 55%;

    }

    .categories .box-container .box img {
        height: auto;
        width: 100%;

    }

    .order form .inputBox .input {
        width: 100%;
        height: auto;

    }

}